/**********  GENERAL  **********/

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 16px;
}

body {
	background-color: #0e1521;
	font-family: 'sofia-pro', sans-serif;
	font-weight: 300;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
}

a {
	text-decoration: none;
	color: #fff;
}

.img-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	margin: 0 0 .8rem 0;
}

.img-container img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

/**********  TYPE  **********/

h2 {
	font-weight: 400;
	font-size: 2rem;
	margin: 0 0 .8rem 0;
	line-height: 1;
	letter-spacing: -.05rem;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

h3 {
	font-weight: 600;
	font-size: 1.3rem;
	margin: 2rem 0 .5rem 0;
}

h4 {
	font-weight: 400;
	font-size: .8rem;
}


/**********  HEADER & NAV  **********/

header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 40px 80px;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

nav ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style: none;
}

li a {
	font-weight: 400;
	font-size: 1rem;
	position: relative;
	margin: 0;
	text-align: center;
	padding: .25rem .5rem;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

@media (hover: hover) {
li a:hover {
	color: #000;
}
}

li a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 0;
	left: 0;
	background-color: #ffd800;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	z-index: -1;
}

@media (hover: hover) {
li a:hover:before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}
}

/********** LOGO  **********/

.logo-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	width: 2.5rem;
	height: 4.125rem;
	-webkit-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

.face {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}

@media (hover: hover) {
.face:hover {
	opacity: 0;
}
}

.face img, .face3 img {
	width: 100%;
}

/**********  HOME PAGE STYLES  **********/

.intro {
	margin: 120px 0 120px 80px;
	max-width: 960px;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.intro-copy {
	color: #fff;
	text-align: left;
	font-weight: 400;
	font-size: 2rem;
	line-height: 1.2;
	letter-spacing: -.05rem;
}

.projects-section {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 0 80px;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.project {
	width: 40%;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.project:nth-of-type(2n) {
	margin-top: 15%;
}

.project:last-of-type {
	margin-bottom: 10%;
}



/* @media (hover: hover) {

.project img {
	-webkit-filter: saturate(0);
	filter: saturate(0);
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.project:hover img {
	-webkit-filter: saturate(100%);
	filter: saturate(100%);
}

} */

.category {
	font-weight: 300;
	font-size: .8rem;
	color: #828282;
	text-align: left;
	margin-bottom: 5px;
	padding: 0;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.project-copy {
	text-align: left;
	color: #fff;
	font-family: 'sofia-pro', sans-serif;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.project-copy p {
	font-weight: 300;
	font-size: 1rem;
	line-height: 1.4;
	margin: 0 0 .8rem 0;
}

/**********  VIEW PROJECT BUTTON  **********/

.view-button {
	display: inline-block;
	position: relative;
	overflow: hidden;
	background-color: #1f2e48;
	margin: 0 0 1.5rem 0;
	background-color: none;
	-webkit-transition: all .2s cubic-bezier(0.2, 0.63, 0.12, 1);
	transition: all .2s cubic-bezier(0.2, 0.63, 0.12, 1);
	padding: 0;
	z-index: 0;
}

.view-button p {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	color: #fff;
	font-weight: 400;
	margin: 0;
	padding: .5rem 1rem;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-transform: translateX(0);
	transform: translateX(0);
	-webkit-transition: all 1s cubic-bezier(0.2, 0.63, 0.12, 1);
	transition: all 1s cubic-bezier(0.2, 0.63, 0.12, 1);
	text-align: center;
}

@media (hover: hover) {
.project:hover .view-button p {
	color: #000;
}
}
	
@media (hover: hover) {
.project:hover .view-button:before {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}
}

.view-button:before {
	position: absolute;
	background-color: #c7c7c7;
	content: "";
	width: 100%;
	;
	height: 100%;
	left: 0;
	top: 0;
	-webkit-transform: translateX(-101%);
	transform: translateX(-101%);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transition: -webkit-transform 1s cubic-bezier(0.2, 0.63, 0.12, 1);
	transition: -webkit-transform 1s cubic-bezier(0.2, 0.63, 0.12, 1);
	transition: transform 1s cubic-bezier(0.2, 0.63, 0.12, 1);
	transition: transform 1s cubic-bezier(0.2, 0.63, 0.12, 1), -webkit-transform 1s cubic-bezier(0.2, 0.63, 0.12, 1);
	z-index: -1;
}

/**********  PROJECT PAGE STYLE  **********/

.project-page {
	margin: 80px;
}

.project-page-project {
	width: 100%;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.project-page h2 {
	font-size: 3rem;
	margin: 0 0 2.2rem 0;
}

.project-page .project-copy p {
	font-size: 1.1rem;
	margin: 0 0 1.2rem 0;
	max-width: 960px;
}

.project-page .project-copy p:last-of-type {
	margin: 0 0 2.2rem 0;
}

.copy-between {
  margin: 5rem 0 2.2rem 0;
}

.image-project img {
	width: 100%;
	height: auto;
	max-width: 960px;
	margin: 0 0 1.5rem 0;
}

.next-prev-home {
	margin: 0;
	padding: 0;
	max-width: 960px;
	font-size: 1rem;
	background-color: none;
}

.next-prev-home a, .emdash, .nav-emdash {
	color: #fff;
	margin: 0 .2rem 0 0;
}

.side-by-side {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	max-width: 960px;
}

/******* PRINT PAGE ******/

.project-page-project.print-page .project-copy p {
	font-size: 1.1rem;
	margin: 0 0 1.2rem 0;
	max-width: 960px;
}

.project-page-project.print-page .project-copy h2 {
	margin: 0 0 1.2rem 0;
}

.portrait {
	width: 60%;
}


/******* CODING PROJECTS PAGE ******/

.project-page-project.print-page .project-copy p.coding-page-intro {
	margin: 0 0 3rem 0;
}



/**********  ABOUT ME PAGE STYLE  **********/

.about-me {
	color: #fff;
	margin: 80px;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.about-heading {
	display: inline-block;
	line-height: 3.5rem;
	font-size: 3rem;
	letter-spacing: -.05rem;
	margin-bottom: 1rem;
	border-bottom: 2px solid #ffd800;
}

.about-copy {
	max-width: 960px;
	margin-bottom: 3rem;
}

.about-me p {
	margin-bottom: 1rem;
	line-height: 1.4;
	font-size: 1.1rem;
}

.phone-number {
	white-space: nowrap;
}

/**********  IMAGE WIPE ON SCROLL  **********/

.wipe {
	opacity: 0;
}

.reveal-image, .reveal-image:after {
	position: absolute;
	-webkit-animation-delay: 0;
	animation-delay: 0;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	-webkit-animation-duration: 600ms;
	animation-duration: 600ms;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
}

.reveal-image {
	opacity: 1;
	position: relative;
	-webkit-animation-name: reveal-image;
	animation-name: reveal-image;
}

@-webkit-keyframes reveal-image {
	from {
		-webkit-clip-path: inset(0 100% 0 0);
		clip-path: inset(0 100% 0 0);
	}
	to {
		-webkit-clip-path: inset(0 0 0 0);
		clip-path: inset(0 0 0 0);
	}
}

@keyframes reveal-image {
	from {
		-webkit-clip-path: inset(0 100% 0 0);
		clip-path: inset(0 100% 0 0);
	}
	to {
		-webkit-clip-path: inset(0 0 0 0);
		clip-path: inset(0 0 0 0);
	}
}

/********** IFRAME SOLUTION FOR EMBEDDED VIMEO FILES ************/

.video-project {
	width: 100%;
	max-width: 960px;
	margin: 0 0 1.3rem 0;
}

.aspect-ratio {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
}

.aspect-ratio iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.aspect-ratio-square {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 100%;
}

.aspect-ratio-square iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.aspect-ratio-audio {
	position: relative;
	height: 120px;
	max-width: 960px;
}

.aspect-ratio-audio iframe {
	position: absolute;
	height: 100%;
	width: 100%;
	padding: .5rem 0;
}

/**********  UNDERLINE LINK TREATMENT  **********/

.underlined a, .about-me a, .next-prev-home a {
	position: relative;
	top: 0;
	left: 0;
	padding: 0 0 .05rem 0;
	overflow: hidden;
}

.underlined a:before, .about-me a:before, .next-prev-home a:before {
	position: absolute;
	background-color: #ffd800;
	content: "";
	width: 100%;
	height: .05rem;
	left: 0;
	bottom: 0;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	z-index: -1;
}

@media (hover: hover) {
.underlined a:hover:before, .about-me a:hover:before, .next-prev-home a:hover:before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}
}

/**********  MEDIA QUERIES  **********/

@media (max-width: 800px) {
	.logo-container {
		width: 2rem;
	}
	.project:nth-of-type(2n) {
		margin-top: 0;
	}
	.project:last-of-type {
		margin-bottom: 10%;
	}
	.project {
		margin-bottom: 15%;
	}
	.projects-section, .about-me {
		margin: 30px;
	}
	.intro {
		margin: 80px 30px;
	}
	header {
		margin: 30px;
	}
	.project {
		width: 100%;
	}
	.portrait {
		width: 100%;
	}
}

@media (max-width: 600px) {
	html {
		font-size: 14px;
	}
	.project-page h2 {
		font-size: 2.2rem;
		margin: 0 0 1rem 0;
	}
}

@media (max-width: 330px) {
	nav ul {
		display: inline;
		text-align: right;
	}
	.nav-emdash {
		display: none;
	}
}
